<div class="container">
    <h1>Contact Us</h1>

    <p>Please fill out the provided webpage if there are any problems with the product form or the show products section.</p>

    <form id="contact-form" method="POST">
      <div class="mb-2">
        <div class="mb-3">
          <label for="name" class="form-label">Your Name</label>
          <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
          <label for="phone" class="form-label">Your Phone Number</label>
          <input type="tel" class="form-control" id="phone" name="phone">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Your E-mail Address</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="mb-3">
          <label for="message" class="form-label">Message</label>
          <textarea class="form-control" id="message" name="message" rows="3"></textarea>
        </div>
        <div>
          <button type="submit" class="btn btn-primary">Send Message</button>
        </div>
      </div>
    </form>
</div>